:root {
  --primary: #20c0ff;
  --secondary: #d6641c;
  --dark: #0c263b;
  --dark-bg: #000000;
  --light: #ffffff;
  --light-grey: #e9e9e9;
}

* {
  font-family: sans-serif, Courier, monospace;
}

button {
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  font-size: 1em;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.App.dark {
  background-color: var(--dark-bg);
}

.App.light {
  background-color: var(--light-grey);
}

.container {
  border-radius: 20px;
  overflow: hidden;
}

.output {
  display: flex;
  flex-wrap: wrap;
  max-width: 18em;
}

.output span {
  overflow: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  flex: 1 1 0;
  text-align: right;
  padding: 15px;
  outline: none;
  height: 8em;
  font-size: 1.5em;
  line-height: 1em;
  color: var(--light);
}

.dark .output span {
  border: 1px solid var(--dark);
  border-bottom-color: var(--primary);
  background-color: var(--dark);
}

.light .output span {
  border: 1px solid var(--primary);
  border-bottom-color: var(--primary);
  background-color: var(--primary);
}

.operations,
.numbers,
.last {
  display: flex;
}

.operations button,
.numbers button,
.last button {
  height: 4em;
  width: 2em;
}

.dark .operations button,
.dark .numbers button,
.dark .last button {
  background-color: var(--dark);
  color: var(--light);
}

.light .operations button,
.light .numbers button,
.light .last button {
  background-color: var(--light);
  color: var(--dark-bg);
}

.light .operations button:hover,
.light .numbers button:hover,
.light .last button:hover {
  opacity: 0.4;
}

.operations button:hover,
.numbers button:hover,
.last button:hover {
  opacity: 0.9;
}

.operations button {
  color: var(--primary);
  flex: 1 1 0%;
}

button.custom {
  color: var(--primary) !important;
}

.numbers,
.last {
  flex-wrap: wrap;
}

.operations > button:first-child {
  color: var(--secondary);
}

.numbers button {
  flex: 1 1 33.333%;
}

.last button {
  flex: 1 1 25%;
}

.last > button:last-child {
  background-color: var(--primary);
}
